body {
    height: 100vh;
    background: url(img/img1.jpg) no-repeat center center/cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    height: 300px;
    width: 500px;
    background-color: white;
    opacity: 70%;
    border: solid 5px pink;
    border-radius: 30px;
    justify-content: center;
    align-items: center;
}

#countdown {
    width: 100%;
    font-size: 60px;
    text-align: center;
    color: red;
}

.header {
    width: 100%;
    font-size: 30px;
    text-align: center;
    color: red;
    padding: 10px;
}

.text {
    opacity: 100%;
}